
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@font-face{font-family:GauthierFY;src:url("/css/fonts/GauthierFY.otf") format("opentype");font-weight:400;font-style:normal}
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "navbar";
@import "banner2";
@import "cards";
@import "footer";
@import "modal";
@import "macarte";

body{
  background-color:#efece8;
  font-family: Arial, sans-serif;
}

a, a:focus, a:active {
	outline: none;
}
.btn-dark:not(:disabled):not(.disabled):active:focus, 
.btn-dark:not(:disabled):not(.disabled).active:focus, 
.show > .btn-dark.dropdown-toggle:focus,
.btn-dark:focus, .btn-dark.focus {
  box-shadow:none;
}

.fas{
 font-size:25px;
}
h2{
  font-family: GauthierFY, Arial, sans-serif;
  font-size: 34px;
}

.bloc-privileges h3{
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 0.5;
}
h5 {
  font-size:17px;
  line-height:24px;
}

#icons-list a{
  padding-left: 15px;
  cursor:pointer;
}
.bloc-privileges {
  margin-top:3rem;
}
#maps-list {
  margin-top:1.8rem;
}

.invalid-feedback {
  font-size: 90%;
  font-style: oblique;
}
.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: inherit;
}

@media (max-width: 768px) {
  h5 {
    text-align:left;
    margin-left:1rem;
  }
  .bloc-privileges {
    margin-top: 2rem;
  }
  .bloc-privileges h3 {
    font-size: 2.2rem;
    float: left;
    margin-left: 1rem;
  }

}


