#macarte {
    display: block;
}

.mycard .modal-body h1 {
    margin-bottom:0.5rem;
}

@media (orientation: portrait) {

    #macarte-landscape {
        display:none;
    }
    #macarte-portrait {
        display:block;
    }
}

@media (orientation: landscape) {

    #macarte-portrait {
        display:none;
    }
    #macarte-landscape {
        display:block;
    }
   
}