html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.burger-container {
  padding:5px;
  background-color:rgba(255, 255, 255, .5)
}
.navbar-toggler-icon {
  width: 2em;
  height: 2em;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar{
  z-index: 10;
}

.nav-link {
  text-transform:uppercase;
  color:#000000;
}
.nav-item.active a.nav-link{
  font-weight:600;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    padding-top: 6rem;
    height:100%;
  }

  .offcanvas-collapse {
    position: fixed;
    top: 0px; /* Height of navbar */
    bottom: 0;
    left:100%;
    width: 80%;

    overflow-y: auto;
    visibility: hidden;
    background-color: #d8d4d0;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.8);
    z-index: 8;
  }
  .offcanvas-collapse.open {
    left: 20%;
    right:0;
    visibility: visible;
  }

  .nav-item {
    border-top:1px solid rgba(0, 0, 0, 0.25);
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    text-align: right;
    
  }
  .nav-item:last-of-type {
    border-top:none;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
    font-size: 1.1rem;
  }
  .langues {
    margin-top: auto !important;
  }
  .langues a {
    display: inline-block;
  }
  .langues::before {
    background-image: url('/img/icons/multilingue.png');
    width: 22px;
    height: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    content: ' ';
    vertical-align: middle;
    margin-right: 4px;
    background-size: 22px 22px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767.99px) {
  .navbar {
    padding: 0;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}



.text-white-50 { color: rgba(255, 255, 255, .5); }



.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.navbar-toggler{
  z-index: 10;
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-top: 20px;
    background-color:rgba(255, 255, 255, .3)
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }
}